<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- MDBoostrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/imgs/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <!-- Header -->
    <header>
        <section class="header">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg">
                <!-- Container wrapper -->
                <div class="container-fluid">
                    <!-- Toggle button -->
                    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <!-- Navbar brand -->
                        <a class="navbar-brand mv-2 mb-lg-0" asp-area="" asp-controller="Home" asp-action="Index">A<span> 46</span></a>
                        <!-- Left links -->
                        <!-- TROCAR CONFIG-->    <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Promos" asp-action="Index">Promoções</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>
                            </li>
                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-mdb-toggle="dropdown" aria-expanded="false"> Gerenciamento</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="GerenciadorD" asp-action="Index">Destinos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="GerenciadorU" asp-action="Index">Usuários</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Fim Collapsible wrapper -->
                    <!--  Login -->
                    <div class="d-flex align-items-center">
                        <a href="" type="button" class="cta"> <i class="fas fa-user"></i> Login / Cadastre-se </a>
                    </div>
                </div>

                <!-- Fim Container wrapper -->
            </nav>
            <!-- Fim Navbar -->
            <!-- Banner -->
            <div class="banner">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="~/movies/2.mp4" type="video/mp4">
                </video>

                <div class="content">
                    <h1>Pensando em viajar?</h1>
                    <h1>A gente te leva!</h1>
                    <a href="promos.html" type="button" class="cta">Confira as principais ofertas</a>
                </div>
            </div>
            <!-- Fim Banner -->
        </section>
    </header>
    <!--FIM Header -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4 class="h4">Sobre Nós</h4>
                    <p>
                        Lorem ipsum dolor sit amet. Et deserunt dolorem in nihil et dignissimos nesciunt
                        et atque temporibus autem tempore. Non voluptates ut consequatur earum aut harum
                        laudantium ut voluptatem eveniet At perspiciatis perspiciatis aut ullam officia.
                    </p>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h4 class="h4">Links</h4>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                        <li><a asp-area="" asp-controller="Destinos" asp-action="Destinos">Destinos</a></li>
                        <li><a asp-area="" asp-controller="Promos" asp-action="Promos">Promoções</a></li>
                        <li><a asp-area="" asp-controller="Contato" asp-action="Contato">Contato</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4 class="h4"> Galeria </h4>
                    <div class="row imgs no-gutters">
                        <div class="col-4"><img src="~/imgs/galery1.jpg" alt=""></div>
                        <div class="col-4"><img src="~/imgs/galery2.jpg" alt=""></div>
                        <div class="col-4"><img src="~/imgs/galery3.jpg" alt=""></div>
                        <div class="col-4"><img src="~/imgs/galery4.jpg" alt=""></div>
                        <div class="col-4"><img src="~/imgs/galery1.jpg" alt=""></div>
                        <div class="col-4"><img src="~/imgs/galery2.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="item logo">A <span>46</span> </div>
                    <div class="item">
                        <p> Copyright by <span>RECODE&copy;</span> 2022 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FIM FOOTER -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
