@{
    ViewData["Title"] = "Promoções";
}

<!-- Destinos -->
<section class="promos">
    <div class="container">
        <div class="promos">
            <div class="row">
                <div class="title">
                    <h4 class="title-primary">Ofertas imperdíveis</h4>
                    <h1 class="h1 h1-responsive title-secondary">Principais Ofertas</h1>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/anonovo.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Ano Novo</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 20% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/vocation.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Férias</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 25% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/carnaval.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Carnaval</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 30% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- FIM Destinos -->
<!-- Descontos -->
<section class="descontos">
    <div class="container">
        <div class="descontos">
            <div class="row">
                <div class="title">
                    <h4 class="title-primary">Descontos imperdíveis</h4>
                    <h1 class="h1 h1-responsive title-secondary">Destinos com Desconto</h1>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/newyork.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Nova Iorque</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 30% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/saopaulo.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">São Paulo</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 30% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/paris.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Paris</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> 30% OFF </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

<!-- FIM Descontos -->