@{
    ViewData["Title"] = "Contato";
}

<!-- Forms -->
<div class="contato">
    <div class="banner">
        <form>
                        <div class="title">
        <h4 class="title-primary">Fale conosco</h4>
        <h1 class="h1 h1-responsive title-secondary">Contato</h1>
    </div>
            <div class="row">
                <div class="input-group">
                    <input type="text" required>
                    <label for=""><i class="far fa-user"></i> Seu nome</label>
                </div>
                <div class="input-group">
                    <input type="text" required>
                    <label for=""><i class="fas fa-mobile-alt"></i> Seu Telefone</label>
                </div>
            </div>
            <div class="input-group">
                <input type="text" required>
                <label for=""><i class="far fa-envelope"></i>Seu E-mail</label>
            </div>
            <div class="input-group">
                <textarea id="message" rows="8" required></textarea>
                <label for=""><i class="far fa-comment"></i>Sua Mensagem</label>
            </div>
            <button type="submit"><i class="far fa-paper-plane"></i> ENVIAR</button>
        </form>
    </div>
</div>
<!-- FIM Forms -->