@model Agencia46.Models.Destinos;

@{
    ViewData["Title"] = "Destinos";
    var destinos = ViewData["destinos"] as List<Destinos>;
}

<!-- Destinos -->
<section class="pagdestinos">
    <div class="container">
        <div class="destinos">
            <div class="row">
                <div class="title">
                    <h4 class="title-primary">Viagens perfeitas</h4>
                    <h1 class="h1 h1-responsive title-secondary">Nossos Destinos</h1>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/maldives.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Maldivas</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/newyork.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Nova Iorque</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/saopaulo.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">São Paulo</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/paris.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Paris</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/barcelona.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Barcelona</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/hawaii.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Havaí</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/havana.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Havana</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/seul.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Seul</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/buenosaires.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Buenos Aires</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- FIM Destinos -->