@{
    ViewData["Title"] = "Home Page";
}


<!-- Search -->

<section class="search">
    <div class="d-flex justify-content-center" ">
        <div class="search-box">
            <div class="inputBox">
                <p><i class="fas fa-plane"></i> Destino</p>
                <input type="text" placeholder="Ex: São Paulo">
            </div>
            <div class="inputBox">
                <p><i class="fas fa-calendar-day"></i> Data</p>
                <input type="date">
            </div>
            <div class="inputBox">
                <p><i class="fas fa-ticket-alt"></i> Passagens</p>
                <input type="text" placeholder="Ex: 1">
            </div>
            <div class="inputBox">
                <p class="invisible">_</p> <!-- corrige o posicionamento do submit-->
                <input type="submit" value="Agendar">
            </div>
        </div>
    </div>
</section>

<!-- FIM Search -->
<!-- Destinos -->
<section class="destinos">
    <div class="container">
        <div class="destinos">
            <div class="row">
                <div class="title">
                    <h4 class="title-primary">Viagens perfeitas</h4>
                    <h1 class="h1 title-secondary">Destinos Populares</h1>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/maldives.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Maldivas</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/newyork.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Nova Iorque</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/saopaulo.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">São Paulo</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/paris.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Paris</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/barcelona.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Barcelona</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 px-0 my-2">
                    <div class="card-design">
                        <div class="bg-image hover-zoom">
                            <img src="~/imgs/hawaii.jpg" class="w-100" />
                        </div>
                        <div class="card-text shadow">
                            <div class="item">
                                <h4 class="h4">Havaí</h4>
                            </div>
                            <div class="bnt-item">
                                <button class="btn"> R$ 250,00 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIM Destinos -->
<!-- ADS -->

<section class="ads">
    <div class="container">
        <h4 class="h4">Qualidade Garantida</h4>
        <h1 class="h1">Nossos Serviços</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="cards-ads">
                    <i class="fas fa-globe-americas"></i>
                    <h4 class="h4 h4-responsive">Destinos pelo Mundo</h4>
                    <p>Escolhemos a dedo os melhores destinos do mundo para você.</p>
                    <a href="#" type="button" class="cta">Veja mais</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cards-ads">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h4 class="h4 h4-responsive">Os melhores preços</h4>
                    <p>Os melhores destinos pelos melhores preços, a gente garante!</p>
                    <a href="#">Veja mais</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cards-ads">
                    <i class="fas fa-handshake"></i>
                    <h4 class="h4 h4-responsive">Com maior segurança</h4>
                    <p>Garantimos a segurança da sua viagem, da compra ao retorno! </p>
                    <a href="#">Veja mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FIM ADS -->